body {
    margin:  0;
    font-family: 'Segoe UI';
    background-color: black;
    color: #c2c0c0;
}

.recipe-cont {
    display: grid;
}

.recipe-card {

}

.recipe-card:hover {

}

.recipe-card h3 {

}

.recipe-card img {

}

.recipe-card button {

}

.recipe-details {

}

.recipe-details strong {

}

.recipe-details ul,
.recipe-details ol { 

}

.recipe-details li {
   
  }