body {
    margin:  0;
    font-family: 'Segoe UI';
    background-color: black;
    color: #c2c0c0;
}

.recipe-cont {
    display: grid;
    padding: 14p 20px;
    max-width: 1280px;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 12px;
}

.recipe-card {

}

.recipe-card:hover {

}

.recipe-card h3 {

}

.recipe-card img {

}

.recipe-card button {

}

.recipe-details {

}

.recipe-details strong {

}

.recipe-details ul,
.recipe-details ol { 

}

.recipe-details li {
   
  }